
.slides {
  position: fixed;

  overflow: hidden;

  height: 100%;
  width: 100%;
}

.inner {
  position: absolute;
  -webkit-transition: left 0.25s ease-out;
}

.inner > section {
  float: left;
}

h1 {
  font-size: 8em;
}

h2.fullpage {
  font-size: 6em;
  text-align: center;
}